$white: #fff;
$black: #000000;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8d;
$blackDark: #1c1d1f;
$silverLight: #aaa;
$silverDark: #777;
$silverLight-400: #f6f6fb;
$silverLight-45: #e2e4eb;
$silverLight-500: #d4cfcf;
$orange: #fbbf24;
$green: #34d399;
